<div class="container-order">

<h2> Edit Product </h2>

<%= simple_form_for [:admin, @product] do |f| %>
  <div class="group">
    <%= f.input :title %>
  </div>
  <div class="group">
    <%= f.input :description %>
  </div>
  <div class="group">
    <%= f.input :categories %>
  </div>
  <div class="group">
    <%= f.input :quantity %>
  </div>
  <div class="group">
    <%= f.input :price %>
  </div>

  <% if @product.photos.present? %>
    <span>目前商品图</span> <br>
    <% @product.photos.each do |p| %>
      <%= image_tag p.avatar.thumb.url %><br>
    <% end %>
  <% end %>

  <div class="group">
    <%= f.label :avatar %><br>
    <%= f.file_field :avatar, :multiple => true, name: "photos[avatar][]" %>
  </div>

  <%= f.submit "Submit", data: { disable_with: "Submitting..." } %>
<% end %>
</div>
<style >
h2{
  text-align: center;
  padding-top: 30px;
}
.container-order{

margin-top: 80px;

background-color: #fff;
padding-left: 80px;
padding-right: 80px;

background-color: #fff;
margin-left: 10px;
margin-right: 100px;
padding-bottom: 100px;


border-radius: 16px;
padding-top: 10px;
border-style: solid;
border-width: 1px;
border-color: rgb(221, 221, 221);
}
body{
  
  background-color: #fffaed;
}
thead{

  background-color: #bcbcbc;
}
th{
  text-align: center;
}
tbody{
  text-align: center;
  background-color: #f0f0f0;
}
</style>
