<div class="containter ">
    <div class=" row row2 ">
        <div class="col-sm-4 text-center">
            <div id="logo" class="logo">
                <a href="/">
                    <i class="fa fa-paw" aria-hidden="true"></i>
                    <span>
                        <strong>Lucky Dog</strong>
                    </span>
                </a>
            </div>
        </div>

        <div class="col-sm-3">
            <div id="phone">
                <i class="fa fa-phone" aria-hidden="true"></i>
                <span >010-66668888</span>
            </div>
        </div>
    </div>

    <div class="container-1">
        <div class="row1">
            <p>
                &nbsp; The warmest
                <br>
                accompany to you</p>
        </div>

        <button type="button" class="btn btn-primary btn-round-lg btn-lg">

            <a href="/">
                <strong>Back</strong>
            </a>
        </button>
    </div>

    <!-- products -->
    <div class="container-3">
      <div class="container-model">
        <section>

            <h2>萨摩耶</h2>
            <hr>

            <div class="container">
                <div class="row">
                    <% if  @products.present? %>
                    <% @products.order('created_at DESC').each do |product| %>
                    <% if  true == product.categories.eql?("萨摩耶")%>
                    <div class="col-xs-6 col-md-4">
                        <div class="panel panel-primary text-center">
                            <div class="panel-body">
                                <%= link_to product_path(product) do %>
                                <% if product.photos.present? %>
                                <div class="panel-body"><%= image_tag(product.photos[0].avatar.thumb.url, size: "200x200")%></div>
                            <% else %>
                                <%=image_tag("http://placehold.it/200x200&text=No Pic") %>
                                <% end %>
                                <% end %>
                            </div>

                            <div class="panel-footer">

                                <h1>¥<%= product.price %></h1>
                                <h3 class="text-center"><%= product.title %></h3>

                                </p>

                                <button class="btn btn-lg"><%= link_to("Add to cart", add_to_cart_product_path(product), :method => :post) %></button>

                            </div>
                        </div>
                    </div>
                    <% end %>
                    <% end %>
                    <% end %>
                </div>
            </div>
        </section>

        <section>
            <h2>泰迪犬</h2>
            <hr>
            <div class="container">
                <div class="row">
                    <% if  @products.present? %>
                    <% @products.order('created_at DESC').each do |product| %>
                    <% if  true == product.categories.eql?("泰迪犬")%>
                    <div class="col-xs-6 col-md-4">
                        <div class="panel panel-primary text-center">
                            <div class="panel-body">
                                <%= link_to product_path(product) do %>
                                <% if product.photos.present? %>
                                <div class="panel-body"><%= image_tag(product.photos[0].avatar.thumb.url, size: "200x200")%></div>
                            <% else %>
                                <%=image_tag("http://placehold.it/200x200&text=No Pic") %>
                                <% end %>
                                <% end %>
                            </div>
                            <div class="panel-footer">
                                <h1>¥<%= product.price %></h1>
                                <h3 class="text-center"><%= product.title %></h3>

                                <button class="btn btn-lg"><%= link_to("Add to cart", add_to_cart_product_path(product), :method => :post) %></button>
                            </div>
                        </div>
                    </div>
                    <% end %>
                    <% end %>
                    <% end %>
                </div>
            </div>
        </section>

        <section>
            <h2>金毛犬</h2>
            <hr>
            <div class="container">
                <div class="row">
                    <% if  @products.present? %>
                    <% @products.order('created_at DESC').each do |product| %>
                    <% if  true == product.categories.eql?("金毛犬")%>
                    <div class="col-xs-6 col-md-4">
                        <div class="panel panel-primary text-center">
                            <div class="panel-body">
                                <%= link_to product_path(product) do %>
                                <% if product.photos.present? %>
                                <div class="panel-body"><%= image_tag(product.photos[0].avatar.thumb.url, size: "200x200")%></div>
                            <% else %>
                                <%=image_tag("http://placehold.it/200x200&text=No Pic") %>
                                <% end %>
                                <% end %>
                            </div>
                            <div class="panel-footer">
                                <h1>¥<%= product.price %></h1>
                                <h3 class="text-center"><%= product.title %></h3>

                                <button class="btn btn-lg"><%= link_to("Add to cart", add_to_cart_product_path(product), :method => :post) %></button>
                            </div>
                        </div>
                    </div>
                    <% end %>
                    <% end %>
                    <% end %>
                </div>
            </div>
        </section>

        <section>
            <h2>牧羊犬</h2>
            <hr>
            <div class="container">
                <div class="row">
                    <% if  @products.present? %>
                    <% @products.order('created_at DESC').each do |product| %>
                    <% if  true == product.categories.eql?("牧羊犬")%>
                    <div class="col-xs-6 col-md-4">
                        <div class="panel panel-primary text-center">
                            <div class="panel-body">
                                <%= link_to product_path(product) do %>
                                <% if product.photos.present? %>
                                <div class="panel-body"><%= image_tag(product.photos[0].avatar.thumb.url, size: "200x200")%></div>
                            <% else %>
                                <%=image_tag("http://placehold.it/200x200&text=No Pic") %>
                                <% end %>
                                <% end %>
                            </div>
                            <div class="panel-footer">
                                <h1>¥<%= product.price %></h1>
                                <h3 class="text-center"><%= product.title %></h3>

                                <button class="btn btn-lg"><%= link_to("Add to cart", add_to_cart_product_path(product), :method => :post) %></button>
                            </div>
                        </div>
                    </div>
                    <% end %>
                    <% end %>
                    <% end %>
                </div>
            </div>
        </section>

        <section>
            <h2>博美犬</h2>
            <hr>
            <div class="container">
                <div class="row">
                    <% if  @products.present? %>
                    <% @products.order('created_at DESC').each do |product| %>
                    <% if  true == product.categories.eql?("博美犬")%>
                    <div class="col-xs-6 col-md-4">
                        <div class="panel panel-primary text-center">
                            <div class="panel-body">
                                <%= link_to product_path(product) do %>
                                <% if product.photos.present? %>
                                <div class="panel-body"><%= image_tag(product.photos[0].avatar.thumb.url, size: "200x200")%></div>
                            <% else %>
                                <%=image_tag("http://placehold.it/200x200&text=No Pic") %>
                                <% end %>
                                <% end %>
                            </div>
                            <div class="panel-footer">
                                <h1>¥<%= product.price %></h1>
                                <h3 class="text-center"><%= product.title %></h3>

                                <button class="btn btn-lg"><%= link_to("Add to cart", add_to_cart_product_path(product), :method => :post) %></button>
                            </div>
                        </div>
                    </div>
                    <% end %>
                    <% end %>
                    <% end %>
                </div>
            </div>
        </section>

        <section>
            <h2>柯基犬</h2>
            <hr>
            <div class="container">
                <div class="row">
                    <% if  @products.present? %>
                    <% @products.order('created_at DESC').each do |product| %>
                    <% if  true == product.categories.eql?("柯基犬")%>
                    <div class="col-xs-6 col-md-4">
                        <div class="panel panel-primary text-center">
                            <div class="panel-body">
                                <%= link_to product_path(product) do %>
                                <% if product.photos.present? %>
                                <div class="panel-body"><%= image_tag(product.photos[0].avatar.thumb.url, size: "200x200")%></div>
                            <% else %>
                                <%=image_tag("http://placehold.it/200x200&text=No Pic") %>
                                <% end %>
                                <% end %>
                            </div>
                            <div class="panel-footer">
                                <h1>¥<%= product.price %></h1>
                                <h3 class="text-center"><%= product.title %></h3>

                                <button class="btn btn-lg"><%= link_to("Add to cart", add_to_cart_product_path(product), :method => :post) %></button>
                            </div>
                        </div>
                    </div>
                    <% end %>
                    <% end %>
                    <% end %>
                </div>
            </div>
        </section>
      </div>
    </div>



    <style>
    .container-model{
      background-color: #f1f1f1;
      padding-top: 5em;
      margin-left: 8em;
      margin-right: 8em;
    }
        .row1 {
            margin-top: 34px;
        }
        .row2 {
            margin: 15px -2000px 20px -15px;


        }
        .row2 i {
            font-size: 50px;
            color: #f65e65;
        }
        .row2 span {
            font-size: 25px;
            color: #000;
        }
        .container-1 .btn {
            background-color: #f65e65;

        }
        .container-1 .btn-round-lg {
            border-radius: 22.7px;
            padding-left: 50px;
            padding-right: 50px;
            padding-top: 3px;
            margin-top: 80px;
            margin-left: 50px;
            font-size: 30px;

        }
        .container-1 {

            margin-right: -15px;
            margin-left: -15px;

            width: auto;

            height: 600px;
            color: #fff;
            font-family: sans-serif;
            padding-left: 100px;
            font-size: 50px;
            padding-top: 110px;
            background-image: url("https://ooo.0o0.ooo/2017/02/20/58aa7bb0cd097.jpg");
            background-repeat: round;
        }

        .container-3 {
            background-color: #fffcf4;
            margin-left: -15px;
            margin-right: -15px;
            padding-top: 30px;

        }

        h2 {

            font-weight: bold;

            text-align: center;
            font-size: 40px;

        }
        hr {

            height: 5px;
            width: 200px;

            margin-bottom: 70px;
            margin-top: 25px;
            background-color: #f65e65;
        }
        h1 {
            font-size: 40px;
            font-weight: bold;
            margin-top: 0;
            color: #f65e65;
        }
        h3 {
            margin-top: 0;
            text-align: left;
            margin-left: 8px;
        }
        .container-3 p {
            text-align: left;
            color: #c7c7c7;
            height: 15px;
        }
        .container .col-md-3 .item {
            background-color: #fff;

        }
        .panel {
            border: 1px solid #f65e65;
            border-radius: 0;
            transition: box-shadow 0.5s;
        }
        .panel:hover {
            box-shadow: 5px 0 40px rgba(0,0,0, .2);
        }
        .panel-footer .btn:hover {
            border: 1px solid #f65e65;
            background-color: #fff !important;
            color: #f65e65;
        }

        .panel-footer {
            background-color: #fff !important;
        }

        .panel-footer h3 {
            font-size: 32px;
        }

        .panel-footer h4 {
            color: #aaa;
            font-size: 14px;
        }

        .panel-footer .btn {
            margin: 15px 0;
            background-color: #f65e65;
            color: #fff;

        }
        .btn a {
            color: #fff;
            font-family: sans-serif;
        }

    </style>
