<nav class="row navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="/"> 首页 </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div >
          <ul class="nav navbar-nav">
            <li >
              <%= link_to("产品", products_path) %>
            </li>
            <li >
              <%= link_to("小贴士", story_index_path) %>
            </li>
            <li><a href="/about/">关于我们</a></li>
          </ul>
            <ul class="nav navbar-nav navbar-right">

              <li>
                <%= link_to carts_path do  %>
             <span class="glyphicon glyphicon-shopping-cart"></span> ( <%= current_cart.products.count %> ) 购物车

              <% end %>
            </li>
              <% if !current_user %>
              <li><a href="#" data-toggle="modal" data-target="#signup-modal">注册</a></li>
              <li><a href="#" data-toggle="modal" data-target="#login-modal">登入</a></li>
                <% else %>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="glyphicon glyphicon-user"></span> Hi!, <%= current_user.email %>
                    <b class="caret"></b>
                  </a>
                <ul class="dropdown-menu">
                  <% if current_user.admin? %>
                  <li><%= link_to("Admin 选单", admin_products_path ) %></li>
                  <% end %>
                  <li> <%= link_to("个人订单列表", account_orders_path ) %> </li>
                  <li><%= link_to("我的收藏", account_favorites_path) %></li>
                  <li class="signout"> <%= link_to(content_tag(:i, "退出", class: 'fa fa-sign-out'), destroy_user_session_path, method: :delete) %></li>
                </ul></li>
                <% end %>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>

  
</nav>

<style >
.navbar-default{
  opacity: 0.8em;
}
.navbar-default .navbar-brand{

  color: #fff;
}
.navbar-default .navbar-header a:hover{
 color: #f65e65;

}
.navbar-default .navbar-nav > li > a{
  color: #fff;
}
  .navbar-default .navbar-nav > li > a:hover{
   color: #f65e65;

 }
 .navbar-default .navbar-nav i{
   color: #fff;
 }
.dropdown-menu .signout i{
   color: #000;
 }



</style>
